spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tricol?useSSL=false&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml

server:
  port: 8081

app:
  stock:
    valuation-method: CUMP
---
spring:
  config:
    activate:
      on-profile: test
  datasource:
  url: jdbc:h2:mem:testdb
  username: root
  password: root

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml